<div class="sentMessage message">

    <dl>
      <dt>To: </dt>
      <dd class="recipient_phone"><%= params[:recipient_phone] %></dd>
      <span class="timeStamp">Sent <%= Time.now.in_time_zone("Eastern Time (US & Canada)").strftime("%l:%M %p") %></span> 
    </dl>
    <div>
      <p class="text"><%= params[:text] %></p>
      
    </div>
</div>

<div class="controlArea">
  <%= link_to("NEW MESSAGE", @home , class: "createButton" ) %>
</div>

