/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
     font-family: sans-serif;
     background-color: #f2f2f2;
 }
 
.message{
     width:320px;
     border: 1px solid gray;
     padding: 10px;
     margin: 20px auto 20px auto;
     box-shadow: 0 0 5px rgba(0,0,0,.12), 0 2px 5px rgba(0,0,0,.24);
     background-color: white;
}
 
 .sentMessage{
     box-shadow: none;
     background-color: white;
 }
 
.sentMessage dl{
    margin:10px 0;
} 

.sentMessage dt{
    display:inline-block;
    color:gray;
 }
 
.sentMessage dd{
    display:inline-block;
    margin:0;
 }
 
.sentMessage .text{
    padding: 10px 0;
    border-top: 1px solid gray;
    margin:0;
 }
 
.sentMessage .timeStamp{
    color: gray;
    float: right;
}

.controlArea {
    width:340px;
    margin:10px auto;
}

.controlArea button{
    float:right;
}

h1 {
    margin: 0 0 0.5em 0;
    font-size: 16px;
    text-align: center;
}

.newMessage fieldset {
    border-top: 1px solid gray;
    border-bottom: none;
    border-left:none;
    border-right:none;
    padding-left: 0;
    padding-right: 0;
}

.newMessage fieldset:last-of-type {
    border-top: none;
}

.newMessage label{
    color:gray;
}

.newMessage input[type=tel]{
    border:none;
    font-size: 16px;
    width: calc(100% - 3em);
    outline:none;
}

.newMessage textarea{
    border:none;
    font-size: 16px;
    width:100%;
    outline:none;
}

.newMessage input[type=submit], .createButton{
    color: white;
    font-size: 16px;
    background-color: #4285f4;
    box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
    border-radius: 0;
    padding: 8px 12px 10px 12px;
    border: none;
    cursor: pointer;
    float: right;

}

.newMessage input[type=submit]:hover{
    background-color: #3974d6;
    box-shadow: 0 0 2px rgba(0,0,0,.4), 0 2px 4px rgba(0,0,0,.5);
}

.createButton{
    background-color: #d23f31;
    color:white;
    text-decoration: none;
}

.createButton:hover{
    box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
}

.recipient_phone {
    font-weight: bold;
}

